/* .swiperWrapper {
  position: relative;
  height: 100%;
}

.swiperWrapper {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper {
	margin-left: auto;
	margin-right: auto;
}

#pnavi::after,
#nnavi::after {
	color: #dddddd;
	font-size: 80px;
}

#pnavi {
	left: 30px;
}

#nnavi {
	right: 30px;
}

#pnavi:active,
#nnavi:active {
	scale: 0.7;
	opacity: 0.8;
}

.swiper-pagination-bullet {
	width: 14px;
	height: 14px;
	background-color: rgb(79, 79, 79) !important;
}

.swiper-pagination-bullet:active {
	scale: 1.5;
}

.swiperPause {
	position: absolute;
	bottom: 20px;
	right: 80px;
	z-index: 10;
}

.swiperPlay {
	position: absolute;
	bottom: 20px;
	right: 130px;
	z-index: 10;
}

.faPlay,
.faPause {
	color: rgb(79, 79, 79);
	width: 20px;
	height: 20px;
}

.faPlay:active,
.faPause:active {
	scale: 0.75;
}

.autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 4px;
	stroke: rgb(79, 79, 79);
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}

.autoplay-progress {
	position: absolute;
	right: 24px;
	bottom: 14px;
	z-index: 10;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: rgb(79, 79, 79);
}

#pnavi::after,
#nnavi::after {
	color: #dddddd;
	font-size: 50px;
}

#pnavi {
	left: 30px;
}

#nnavi {
	right: 30px;
}

#pnavi:active,
#nnavi:active {
	scale: 0.7;
	opacity: 0.8;
}

#preNavi {
	left: 25px;
}

#nextNavi {
	right: 25px;
}

#preNavi::after,
#nextNavi::after {
	color: #dddddd;
	font-size: 80px;
}

#preNavi:active,
#nextNavi:active {
	scale: 0.7;
	opacity: 0.8;
}
